* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background: #030a3f;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

header .logo {
    position: relative;
    height: 100px;
}

header .NAVIGATION {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 45px 0;

}

header .NAVIGATION li {
    list-style: none;
    margin: 0 10px;
}

header .NAVIGATION li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}

header .SEARCH {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 45px 0;
}

header .SEARCH li {
    list-style: none;
    margin: 0 10px;
}

header .SEARCH li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}

@media only screen and (max-width: 800px) {
    header {
        flex-direction: column;
        display: flex;
    }
}